<h2>Paises</h2>
<hr>

<ul class="list-group">
  <!-- <li routerLink="" class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    homePage
  </li>

  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    About
  </li>

  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    Contact
  </li> -->

  <li routerLink="countries/by-capital" class="list-group-item" routerLinkActive="active">
    Por capital
  </li>

  <li routerLink="countries/by-country" class="list-group-item" routerLinkActive="active">
    Por Pais
  </li>

  <li routerLink="countries/by-region" class="list-group-item" routerLinkActive="active">
    Por Region
  </li>

</ul>
